body {
  padding: 50px;
  font: 16px 'Nunito', sans-serif;;
  background-color: #fea543;
}

h1 {
  text-align: center;
}

h1, h2, p, a {
  color: white;
  display: block;
  margin: 10px 0;
}

#submit-button {
  width: max-content;
  margin: auto;
  display: block;
  background-color: orange;
  color: white;
  border: 2px solid white;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
}
