//COMMON
body {
    color: $secondary_color;
}  
.brand_color {
    background-color: $brand_color;
}

//Left nav
.left_menu {
    min-height: calc(100vh - 40px);
    -webkit-box-shadow: 12px 11px 17px 0px rgba(0,0,0,0.9); 
    box-shadow: 12px 11px 17px 0px rgba(0,0,0,0.9);
    background-color: $secondary_color;
}
nav {
    a {
        color: $brand_color;
    }
}
a:hover {
    color: white;
}
.big_icon {
    font-size: 25px;
    margin: 10px;
}

//Main
img {
    height: 190px;
}
.card_ms {
    transform: scale(150%);
    margin-left: 33vw;
    margin-top: 150px;
    border-radius: 20px;
    background-color: $brand_color;
}
.ms_title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: $secondary_color;
}
.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 
.title_list {
    font-size: 30px;
}
.ms_card_header {
    background-color: $brand_color;
    font-size: 20px;
}
.ms_form {
    display: block;
}
.card_hei {
    min-height: 260px;
}
.ms_button_card {
    height: 70%;
    .ms-btn {
        background-color: $brand_color;
    }
    .ms-btn:hover {
        background-color: $secondary_color;
    }
}
.pagination {
    width: auto;
    justify-content: center;
}
.border_radius20 {
    border-radius: 20px;
}
.img_ms {
    width: auto;
    height: 85%;
}
.ms_description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ms_btn {
    padding: 0.375rem 0.75rem;
    background-color: $brand_color;
}